
/* 兼容IE6：zoom:1;  */
.wrapper{ border:3px solid #000;zoom: 1;}
    .box01{ width:500px; height:500px; background:#F00; float:left;}
    .box02{ width:500px; height:500px; background:#09F; float:left;}
    .clear{clear:both; height:0; overflow:hidden;}